#navbarNav {
  background-color: #b30000;
}
.bg-dark {
  background-color: #b30000!important;
}

.navbar-dark .navbar-brand {
  color: #e6b800;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e6b800;
}
